<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Write A Spooky Story</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Fill these out and create your own scary story!</h1>
    <form action="/scary" method="post">
     <label for="place">A place</label>
     <input id="place" name="place" type="text">
     <label for="name">A name</label>
     <input id="name" name="name" type="text">
     <lable for="verb">A verb</label>
     <input id="verb" name="verb" type="text">
     <button type="submit">Create my story!</button>
    </form>
  </body>
</html>