<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>MadLibs Story</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
  <h1>Rosario's MadLib Story Generator!</h1>
  <h3>Select the type of story you'd like to write</h3>
  <a href="/Form">A Vacation Story</a>
  <br><a href="/Form2">A Scary Story</a></br>
</body>

</html>